<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <connectionStrings>
    <add name="constr" connectionString="Data Source=DESKTOP-1D3Q2M0;Initial Catalog=Econtact;Integrated Security=True"/>
    <add name="MagicContact.Properties.Settings.EcontactConnectionString" connectionString="Data Source=DESKTOP-1D3Q2M0;Initial Catalog=Econtact;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
